html,
body {
  height: 100%;
}
body {
  background: #e6e6e6;
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: table-caption;
  justify-content: center;
  align-items: center;
}
h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 200px;
  height: 14rem;
  margin: 10px;
}

.control-status {
  height: 7rem;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 16px;
  width: 16px;
  background: #fff;
  border: 1px solid #ccc;
}
.control--checkbox .control__indicator {
  border-radius: 3px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input:not([disabled]) ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border-color: #666;
}
.control input:checked ~ .control__indicator {
  background: #fff;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid #34bb92;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 5px;
  top: 5px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #34bb92;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
.requestId {
  border: 1rem solid red;
}

.button {
  height: 2rem;
  width: 50%;
  padding: 0.4rem;
  margin: 0 auto;
  display: block;
}

.statusDiv .inputBox {
  width: 95%;
  padding-left: 0.4rem;
  height: 1.7rem;
  font-size: medium;
  font-weight: lighter;
}
.statusMessage {
  color: rgb(83, 81, 81);
  font-weight: lighter;
  font-size: medium;
}

.statusDiv .button {
  margin-top: 1rem;
}

.details-table {
  height: fit-content;
  position: fixed;
}
#detailsDiv {
  visibility: hidden;
}

.detailsDiv {
  position: absolute;
  left: 550px;
  top: 150px;
  height: 20rem;
  padding-top: 1rem;
}

td {
  border: 1px solid gray;
  height: 1rem;
  border-collapse: collapse;
  size: 2rem;
}
