/** @format */

.statusMessage {
  height: 100%;
  width: 100%;
}

.statusDiv {
  width: 100%;
  height: 35%;
}
.optionDiv {
  display: inline-block;
  height: 30%;
  width: 20%;
}

.headerArea {
  width: 100%;
  height: 30%;
  background: gray;
  /* position: fixed;
  overflow-y: scroll; */
}

div {
  border: 1px solid #000000;
}

.main {
  height: 100%;
  width: 100%;
}

select {
  width: 100%;
  height: 50px;
  font-size: 100%;
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 0;
  background-color: gray;
  border: none;
  border-bottom: 2px solid darkgrey;
  color: white;
  padding: 10px;
  padding-right: 38px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}
select:hover,
select:focus {
  color: #7e7b7b;
  background-color: white;
  border-bottom-color: #dcdcdc;
}
